beautifulsoup4==4.8.2
blis==0.2.4
boto3==1.12.12
botocore==1.15.12
catalogue==1.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cymem==2.0.3
decorator==4.4.1
docutils==0.15.2
en-core-web-lg==2.2.5
en-core-web-sm==2.1.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==4.2.1
future==0.18.2
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.3.0
idna==2.8
importlib-metadata==1.4.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.0
jmespath==0.9.5
joblib==0.14.1
jsonschema==2.6.0
MarkupSafe==1.1.1
more-itertools==8.1.0
murmurhash==1.0.2
networkx==2.4
neuralcoref==4.0
nlglib==0.2.1
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
pke==1.8.1
plac==0.9.6
preshed==2.0.1
protobuf==3.11.3
pycorenlp==0.3.0
PyJWT==1.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
pywsd==1.2.4
rake-nltk==1.0.4
rdflib==4.2.2
requests==2.22.0
s3transfer==0.3.3
scikit-fuzzy==0.4.2
scikit-learn==0.22.1
scipy==1.4.1
simplenlg==0.2.0
six==1.14.0
sklearn==0.0
soupsieve==1.9.5
spacy==2.1.0
SPARQLWrapper==1.8.5
srsly==1.0.1
stanford-openie==1.0.1
stanfordnlp==0.2.0
thinc==7.0.8
torch==1.4.0
tqdm==4.41.1
Unidecode==1.1.1
urllib3==1.25.7
wasabi==0.6.0
websocket-client==0.48.0
Werkzeug==0.16.1
wget==3.2
wn==0.0.23
zipp==2.0.0
